.nutria{
    width: 38%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{

    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
}