*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pantalla{
    position: relative;
    width: 750px;
    height: 500px;
    margin: auto;
}


.pantalla .fondo{
    width: 100%;

}

.Bloque1{
    position: absolute;
    top: 47%;
    left: 20%;
    cursor: pointer;

}


.moneda1{
    position: absolute;
    top: 36%;
    left: 25%;
     cursor: pointer;


}

.moneda2{
    position: absolute;
    top: 36%;
    left: 34%;
     cursor: pointer;
    

}

.moneda3{
    position: absolute;
    top: 53%;
    left: 88%;
     cursor: pointer;
    

}

.Bloque2{
      position: absolute;
    top: 33%;
    left: 52%;
     cursor: pointer;
  

}


.corazon{
      position: absolute;
    top: 20%;
    left: 57%;
     cursor: pointer;
  

}

